@charset "utf-8";
*{
	margin:0;
	padding:0;
}
body{
	max-width: 100%;
	min-width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:100% 100%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	background: url('https://p9-juejin.byteimg.com/tos-cn-i-k3u1fbpfcp/9d6930d32b8040a792f26b4df1fcc29f~tplv-k3u1fbpfcp-zoom-1.image') no-repeat 0 0;
}
li{
	list-style: none;
}
.box{
	width:200px;
	height:200px;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:100% 100%;
	position: absolute;
	margin-left: 42%;
	margin-top: 22%;
	-webkit-transform-style:preserve-3d;
	-webkit-transform:rotateX(13deg);
	-webkit-animation:move 10s linear infinite;/* 旋转速度，时间越短速度越快 */
}
.minbox{
	width:100px;
	height:100px;
	position: absolute;
	left:50px;
	top:30px;
	-webkit-transform-style:preserve-3d;
}
.minbox li{
	width:100px;
	height:100px;
	position: absolute;
	left:0;
	top:0;
}
.minbox li:nth-child(1){
	background: url('https://p6-juejin.byteimg.com/tos-cn-i-k3u1fbpfcp/1944b75bf3a847d792f78aee921945ae~tplv-k3u1fbpfcp-zoom-1.image') no-repeat 0 0;
		background-size:100px 100px;
	-webkit-transform:translateZ(50px);
}
.minbox li:nth-child(2){
	background: url('https://p1-juejin.byteimg.com/tos-cn-i-k3u1fbpfcp/0001fd285a4d468583b5ecaac4038784~tplv-k3u1fbpfcp-zoom-1.image') no-repeat 0 0;
		background-size:100px 100px;
	-webkit-transform:rotateX(180deg) translateZ(50px);
}
.minbox li:nth-child(3){
	background: url('https://p1-juejin.byteimg.com/tos-cn-i-k3u1fbpfcp/3a05db52f29d446ea1c9be745c19d284~tplv-k3u1fbpfcp-zoom-1.image') no-repeat 0 0;
		background-size:100px 100px;
		-webkit-transform:rotateX(-90deg) translateZ(50px);
}
.minbox li:nth-child(4){
	background: url('https://p6-juejin.byteimg.com/tos-cn-i-k3u1fbpfcp/8259135e30c940838064d32cf476f7bb~tplv-k3u1fbpfcp-zoom-1.image') no-repeat 0 0;
	background-size:100px 100px;	
	-webkit-transform:rotateX(90deg) translateZ(50px);
}
.minbox li:nth-child(5){
	background: url('https://p3-juejin.byteimg.com/tos-cn-i-k3u1fbpfcp/7a9203f4baf7425b98b3305e7fc4a52b~tplv-k3u1fbpfcp-zoom-1.image') no-repeat 0 0;
	background-size:100px 100px;	
	-webkit-transform:rotateY(-90deg) translateZ(50px);
}
.minbox li:nth-child(6){
	background: url('https://s1.ax1x.com/2020/08/02/aYFXFJ.jpg') no-repeat 0 0;
	background-size:100px 100px;	
	-webkit-transform:rotateY(90deg) translateZ(50px);
}
.maxbox li:nth-child(1){
	background: url('https://p6-juejin.byteimg.com/tos-cn-i-k3u1fbpfcp/1944b75bf3a847d792f78aee921945ae~tplv-k3u1fbpfcp-zoom-1.image') no-repeat 0 0;
		background-size:400px 400px;	
	-webkit-transform:translateZ(50px);
}
.maxbox li:nth-child(2){
	background: url('https://p1-juejin.byteimg.com/tos-cn-i-k3u1fbpfcp/0001fd285a4d468583b5ecaac4038784~tplv-k3u1fbpfcp-zoom-1.image') no-repeat 0 0;
	background-size:400px 400px;	
	-webkit-transform:rotateX(180deg) translateZ(50px);
}
.maxbox li:nth-child(3){
	background: url('https://p1-juejin.byteimg.com/tos-cn-i-k3u1fbpfcp/3a05db52f29d446ea1c9be745c19d284~tplv-k3u1fbpfcp-zoom-1.image') no-repeat 0 0;
		background-size:400px 400px;	
	-webkit-transform:rotateX(-90deg) translateZ(50px);
}
.maxbox li:nth-child(4){
	background: url('https://p6-juejin.byteimg.com/tos-cn-i-k3u1fbpfcp/8259135e30c940838064d32cf476f7bb~tplv-k3u1fbpfcp-zoom-1.image') no-repeat 0 0;
		background-size:400px 400px;	
	-webkit-transform:rotateX(90deg) translateZ(50px);
}
.maxbox li:nth-child(5){
	background: url('https://p3-juejin.byteimg.com/tos-cn-i-k3u1fbpfcp/7a9203f4baf7425b98b3305e7fc4a52b~tplv-k3u1fbpfcp-zoom-1.image') no-repeat 0 0;
		background-size:400px 400px;	
	-webkit-transform:rotateY(-90deg) translateZ(50px);
}
.maxbox li:nth-child(6){
	background: url('https://s1.ax1x.com/2020/08/02/aYFXFJ.jpg') no-repeat 0 0;
		background-size:400px 400px;	
	-webkit-transform:rotateY(90deg) translateZ(50px);
}
.maxbox{
	width: 800px;
	height: 400px;
	position: absolute;
	left: 0;
	top: -20px;
	-webkit-transform-style: preserve-3d;
	
}
.maxbox li{
	width: 200px;
	height: 200px;
	background: #fff;
	border:1px solid #ccc;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.2;
	-webkit-transition:all 1s ease;
}
.maxbox li:nth-child(1){
	-webkit-transform:translateZ(100px);
}
.maxbox li:nth-child(2){
	-webkit-transform:rotateX(180deg) translateZ(100px);
}
.maxbox li:nth-child(3){
	-webkit-transform:rotateX(-90deg) translateZ(100px);
}
.maxbox li:nth-child(4){
	-webkit-transform:rotateX(90deg) translateZ(100px);
}
.maxbox li:nth-child(5){
	-webkit-transform:rotateY(-90deg) translateZ(100px);
}
.maxbox li:nth-child(6){
	-webkit-transform:rotateY(90deg) translateZ(100px);
}
.box:hover ol li:nth-child(1){
	-webkit-transform:translateZ(300px);
	width: 400px;
	height: 400px;
	opacity: 0.9;
	left: -100px;
	top: -100px;
}
.box:hover ol li:nth-child(2){
	-webkit-transform:rotateX(180deg) translateZ(300px);
	width: 400px;
	height: 400px;
	opacity: 0.9;
	left: -100px;
	top: -100px;
}
.box:hover ol li:nth-child(3){
	-webkit-transform:rotateX(-90deg) translateZ(300px);
	width: 400px;
	height: 400px;
	opacity: 0.9;
	left: -100px;
	top: -100px;
}
.box:hover ol li:nth-child(4){
	-webkit-transform:rotateX(90deg) translateZ(300px);
	width: 400px;
	height: 400px;
	opacity: 0.9;
	left: -100px;
	top: -100px;
}
.box:hover ol li:nth-child(5){
	-webkit-transform:rotateY(-90deg) translateZ(300px);
	width: 400px;
	height: 400px;
	opacity: 0.9;
	left: -100px;
	top: -100px;
}
.box:hover ol li:nth-child(6){
	-webkit-transform:rotateY(90deg) translateZ(300px);
	width: 400px;
	height: 400px;
	opacity: 0.9;
	left: -100px;
	top: -100px;
}
@keyframes move{
	0%{
		-webkit-transform: rotateX(13deg) rotateY(0deg);
	}
	100%{
		-webkit-transform:rotateX(13deg) rotateY(360deg);
	}
}